@page "/tile-overview"
@using WaveFunctionCollapseWeb.Data
@using WaveFunctionCollapseWeb.Models
@using WaveFunctionCollapseWeb.Components.Display
@rendermode InteractiveServer

<h3 class="center-text">Tile Overview</h3>

<div class="container">
    <div class="border-small add-tile">
        <div class="center-text">Add tile</div>
        <div>Name: <input type="text" @oninput="args => tileName = args.Value.ToString()"/></div>
        <div>Background color:</div> <ColorPicker InColor="@backgroundColor" ReturnedColor="ColorChange"></ColorPicker>
        <div>Foreground text: <input type="text" @oninput="args => foregroundText = args.Value.ToString()"/></div>
        <div>
            Image: <InputFile OnChange="FileSelected"></InputFile>
        </div>
        <div>Preview: <div class="cell" style="background: @backgroundColor; width: 2rem; height: 2rem">@(foregroundText)</div></div>
        <button @onclick="AddTile">Add</button>
    </div>
    <div class="display-tiles border-small">
        @{
            showNumberOnce = false;
        }
        <div class="center-text">All tiles</div>
        @foreach (var kvp in DataManager.tileDatabase)
        {
            Tile tile = kvp.Value;
            if (kvp.Value.ExceptionType == ExceptionType.Number && showNumberOnce)
                continue;
            if (kvp.Value.ExceptionType == ExceptionType.Number)
            {
                showNumberOnce = true;
                <div class="tile-whole @(activeTileId == kvp.Key ? "active-tile" : "")"
                     @onclick="args => MouseClickTile(args, kvp.Key)">
                    @tile.Name
                    <div class="cell" style="background: @tile.Background; width: 2rem; height: 2rem">X,Y</div>
                </div>
                continue;
            }

            <div class="tile-whole @(activeTileId == kvp.Key ? "active-tile" : "")"
                 @onclick="args => MouseClickTile(args, kvp.Key)">
                @tile.Name
                <div class="cell" style="background: @tile.Background; width: 2rem; height: 2rem">@(tile.Text)</div>
            </div>
        }
    </div>
    <div class="center-text border-small">
        <div class="painting-tile">
            <div class="center-text">Set painting tile</div>
            <div class="row-paint">
                <button @onclick="AssignPaintingTile" class="btn-tile-set">></button>
                @DataManager.paintingTile.Name
                @if (DataManager.paintingTile.Image == null)
                {
                    <div class="cell"
                         style="background: @DataManager.paintingTile.Background; width: 2rem; height: 2rem">@(DataManager.paintingTile.Text)</div>
                }
                else
                {
                    <div class="cell"
                         style="background-image: url(@($"data:{DataManager.paintingTile.Image.DataType};base64,{Convert.ToBase64String(DataManager.paintingTile.Image.Data)}")); background-size: 2rem 2rem; width: 2rem; height: 2rem">@(DataManager.paintingTile.Text)</div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private bool showNumberOnce = false;
    private byte[]? imageBytes = null;
    private string? imageContentType = null;

    private Guid activeTileId = Guid.Empty;
    //add tile
    private string tileName = "";
    private string backgroundColor = "#445";
    private string foregroundText = "";
    //TODO: TIER 3 - make JSON save and loading
    //TODO: TIER 2 - add option to use 1,2,3,4,5 as "paint brushes" -> list has a number option
    //TODO: TIER 1 - Change add tile to edit as well, make 2 as more of a list with names, add tile -> puts it into database -> shows up in list as selected -> option to add as painting tile

    private void AssignPaintingTile()
    {
        bool success = DataManager.tileDatabase.TryGetValue(activeTileId, out var tile);
        if (success)
        {
            DataManager.paintingTile = tile;
        }
        //TEST: DataManager.paintingTile.Image = new Image() { Data = imageBytes, DataType = imageContentType };
        //set all other info -> create selected tile according to list
    }

    private void ColorChange(string e)
    {
        backgroundColor = e;
    }
    private void AddTile()
    {
        //upload all the shit in addtiele
    }
    private async Task FileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;

        using var ms = new MemoryStream();
        await file.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024).CopyToAsync(ms);

        imageBytes = ms.ToArray();
        imageContentType = file.ContentType;
        // nothing necessary to do with this, just store it and then create a tile on click
    }

    private void MouseClickTile(MouseEventArgs e, Guid id)
    {
        activeTileId = id;
    }

}